/* Change the background of the entire visible page */
body {
    background-color: #4dc21f; /* Sky blue */
}

/* Style for all paragraphs */
p {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'lobster', serif;
}

/* Style for the main heading */
h1 {
    text-align: center; /* Puts the heading in the middle */
    border: 2px solid rgb(42, 42, 196); /* Adds an blue border around the heading */
    padding: 10px; /* Adds space inside the border */
