/* Change the background of the entire visible page */
body {
    background-color: #013220; /* dark green */
}

/* Style for all paragraphs */
p {
    color: darkgreen;
    font-size: 20px;
    font-family: 'lobster', serif;
}

/* Style for the main heading */
h1 {
    text-align: center; /* Puts the heading in the middle */
    border: 2px solid blue; /* Adds an blue border around the heading */
    padding: 10px; /* Adds space inside the border */
